<h3>Edit Profile Information</h3>
  <form>
    <mat-form-field>
      <input
      matInput
      [(ngModel)]="userData.Name"
      placeholder="Firstname Lastname"
      value={{user.Name}}
      type="text"
      name="Name"
      required
      >
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input
      matInput
      [(ngModel)]="userData.Username"
      placeholder="Username"
      value={{user.Username}}
      type="text"
      name="Username"
      required
      >
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input
      matInput
      [(ngModel)]="userData.Email"
      placeholder="Email"
      value={{user.Email}}
      type="text"
      name="Email"
      required
      >
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input
      matInput
      [(ngModel)]="userData.Birthday"
      placeholder="Birthday"
      value={{user.Birthday}}
      type="text"
      name="Birthday"
      required
      >
    </mat-form-field>
    <button
    mat-raised-button
    (click)="editUser()"
    color="primary"
    >
    Update Profile Information
  </button>
  </form>