<mat-card class="main-page">
  <mat-card-title
  style="margin-bottom: 2em;">
    Welcome to myFilms!
  </mat-card-title>
  <button
    mat-raised-button
    (click)="openUserRegistrationDialog()"
    style="margin-right: 10px;"
    color="primary"
  >
    Sign Up
  </button>
  
  <button
    mat-raised-button
    (click)="openUserLoginDialog()"
    style="margin-right: 10px;"
    color="primary"
  >
    Login
  </button>
  <p style="margin-top: 1em;">
    You can also use these credentials If you don't want to sign up:
    <br />
    Username: ChrisNiko1062
    <br />
    Password: Ilovecoding
  </p>
</mat-card>