<mat-card class="main-page">
  <mat-card-title
  style="margin-bottom: 2em;">
    Welcome to myFlix!
  </mat-card-title>
  <button
    mat-raised-button
    (click)="openUserRegistrationDialog()"
    style="margin-right: 10px;"
    color="primary"
  >
    Sign Up
  </button>
  
  <button
    mat-raised-button
    (click)="openUserLoginDialog()"
    style="margin-right: 10px;"
    color="primary"
  >
    Login
  </button>

  <button
    mat-raised-button
    color="primary"
    (click)="openMoviesDialog()"
  >
    All Movies
  </button>
</mat-card>