.dialog-border {
  border-top: 1px solid grey;
  padding-top: 1em;
}

.dir-bio {
  margin-top: 0.5em;
  padding: 0.5em 1em 0.5em 0.5em;
  max-height: 200px;
  overflow-y: scroll;
  box-shadow: inset 0 0 3px #000;
}

.sub-info-title {
  color: blue;
}
