.profile-container {
  margin: 64px 100px;
}

.welcome-text {
  padding-top: 1em;
  text-align: center;
}

.flex-container {
  display: flex;
}

.flex-left {
  flex: 1;
  margin-right: 1em;
}

.flex-right {
  flex: 1;
  margin-left: 1em;
}

.info-header {
  text-align: center;
  margin-bottom: 1em;
}

.danger-zone {
  text-align: center;
  padding: 3em 0;
}
