.profile-container {
  max-width: 1200px;
  margin: 0 auto;
}

.welcome-text {
  padding-top: 1em;
  text-align: center;
}

.flex-container {
  display: flex;
}

.flex-left {
  flex: 1;
  margin-right: 1em;
  margin-left: 2em;
}

.flex-right {
  flex: 1;
  margin-left: 1em;
  margin-right: 2em;
}

.movie-img-fav{
  width: auto;
  margin-top: 1em;
}

.movie-title-fav{
  display: inline-block;
  margin: 8px !important;
  margin-top: 1em !important;
  vertical-align: top;
}

// .info-header {
//   text-align: center;
//   margin-bottom: 1em;
// }

.danger-zone {
  text-align: center;
  margin: 3em 0;

}

.warning-txt{
  display: inline-block;
  margin-right: 1em;
  margin-top: 1em;
}

@media only screen and (max-width: 950px) {
  .flex-container {
    display: block;
  }

  .flex-left {
    margin: 1em;
  }
  
  .flex-right {
    margin: 1em;
  }
}


@media only screen and (max-width: 500px) {
  .profile-container {
    margin: 64px 1em;
  }
}