<app-navigation-bar></app-navigation-bar>
<div class="profile-container">
  <h1>Welcome, {{ user?.Username }}!</h1>
  
  <h3>Your Account Info:</h3>

  <p>Name: {{ user?.Name }}</p>
  <p>Username: {{ user?.Username }}</p>
  <p>Email: {{ user?.Email }}</p>
  <!-- <p>Password: {{ user?.Password }}</p> -->
  <p>Birthday: {{ user?.Birthday }}</p>

  <button
  mat-raised-button
  (click)="openProfileEditPage()"
  color="primary"
  >

  Edit profile
</button>

<h3>Favourite Movies</h3>
<mat-card *ngFor="let movie of favMovies; let i = index">
    <mat-card-title>{{ movie.Title }}</mat-card-title>
    <img mat-card-lg-image src="https://my-films-db.herokuapp.com/{{ movie.ImagePath }}">
</mat-card>



  <h3>Warning: Danger Zone!</h3>
  <button
  mat-raised-button
  (click)="deleteUser()"
  color="warn"
>
  Delete profile
</button>
</div>

