<app-navigation-bar></app-navigation-bar>
<div class="profile-container">
  <h1 class="welcome-text">Welcome, {{ user?.Username }}!</h1>

  <div class="flex-container">
    <div class="flex-left">
      <mat-card>
        <mat-card-title class="info-header">Your Account Info:</mat-card-title>
        <mat-card-content>
          <p>Name: {{ user?.Name }}</p>
          <p>Username: {{ user?.Username }}</p>
          <p>Email: {{ user?.Email }}</p>
        <!-- <p>Password: {{ user?.Password }}</p> -->
        <p>Birthday: {{ user?.Birthday }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button
          mat-raised-button
          (click)="openProfileEditPage()"
          color="primary"
          >
          Edit Profile Information
        </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="flex-right">
      <mat-card>
        <mat-card-title class="info-header">Favourite Movies</mat-card-title>
        <div *ngFor="let movie of favMovies; let i = index">
          <mat-divider></mat-divider>
          <img mat-card-lg-image src="https://my-films-db.herokuapp.com/{{ movie.ImagePath }}" class="movie-img-fav">
          <mat-card-title class="movie-title-fav">{{ movie.Title }}</mat-card-title>
          <mat-card-actions>

            <button mat-mini-fab *ngIf="isFavorite(movie._id)" (click)="removeFavorite(movie._id)">
              <mat-icon>favorite</mat-icon>
            </button>

            <button mat-mini-fab *ngIf="!isFavorite(movie._id)">
              <mat-icon>favorite_border</mat-icon>
            </button>

          </mat-card-actions>
        </div>
      </mat-card>
    </div>
  </div>



  <div class="danger-zone">
    <mat-divider></mat-divider>
    <h2 class="warning-txt">Danger Zone:</h2>
    <button
    mat-raised-button
    (click)="deleteUser()"
    color="warn"
  >
    Delete profile
  </button>
 
  </div>

  

</div>

